body{
	color: #495874;
	font-family: "Roboto Slab", sans-serif;
}

h1, h2, h3 {
	font-family: "Brandon-reg"
}

h3 {
	text-transform: uppercase;
}

p{
	display: inline;
}
a{
	text-decoration: none;
	color: #327bda;
	font-weight: 600;
}

nav a{
	display: block;
}

.button{
	display: block;
	text-align: center;
	color: white;
	padding: 0.75em 1em;
	margin: 0.5em;
	font-weight: normal;
}

.card{
	padding: 2em;
	background-color: #f1f1f1;
	margin: 1em 0.5em;
}

.fixed-sizing{
	width: 6em;
}

header {
	margin-left: 10em;
}

label {
	color: white;
	padding:0.75em 1em;
	background-color: #327bda;
	border: 2px solid #327bda;
	margin:0;
}

li{
	line-height: 1.5em;
	color: #327bda;
}

input{
	padding:0.75em 1em;
	border: 2px solid #327bda;
	color: #327bda;
	margin:0;
}

.display-inline{
	display: inline-flex;
}

.thumbnail{
	height: 400px;
	width: auto;
}

.swatch{
	display: inline-flex;
	width: 6em;
	height: 4em;
	background-color: grey;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin:0.5em;
}

.standard-highlight{
	background-color: #327bda;
	color: white;
}

.extreme-highlight{
	background-color: #DF8C6B;

}
.confirmation{
	background-color: #32ca9e;
	color: white;
}
.plain{
	background-color: #ffffff;
	color: #495874;
}
.dark{
	background-color: #495874;
	color: white;
}

.itallic{
	font-style: italic;
}

.submit{
	background-color: #32ca9e;
	border-color: #32ca9e;
	letter-spacing: 0.5px;
}

.reset{
	background-color: #327bda;
	letter-spacing: 0.5px;
}

.submit:hover, .reset:hover, .submit:active, .reset:active {
	transition: 0.4s;
	cursor: pointer;
}

.submit:hover {
	border: 1px solid #32ca9e;
	/*font-weight: 600;*/
	color: #32ca9e;
	background-color: white;
}

.reset:hover {
	border: 1px solid #327bda;
	/*font-weight: 600;*/
	color: #327bda;
	background-color: white;
}

.submit:active {
	border: 1px solid #32ca9e;
	color: #32ca9e;
	background-color: white;
}

.reset:active {
	border: 1px solid #327bda;
	color: #327bda;
	background-color: white;
}

a{
	color: #327bda;
}

a:hover{
	transition: 0.2s;
	color: #88afe2;
}
