*, *::after, *::before{ /* star is select all ||| pseudo elements rednered after page?*/
	box-sizing: border-box;
}

.logo{
	width: auto;
	height: 60px;
	font-size: 2em;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.logo img{
	margin-right: 0.75rem;
}

.nav-container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 2em;
	margin-right: 10em;
	margin-left: 10em;
	margin-bottom: 4em;
}

.main-nav{
	display: flex;
}

.nav-item {
	font-size: 1.2rem;
	font-family: "Brandon-reg";
	padding: 1em 1.5em;
	line-height: 150%;
	/*border:#ffffff solid 1px;*/
	/*border-right: #495874 solid 1px;*/
	text-align: center;
	background-color: white;
}

.nav-item a {
	text-decoration: none;
	color: #495874;
	font-weight: lighter;
}

.nav-item a:hover {
	color: #327bda;
	border-bottom: 1px solid #327bda;
}

.nav-item:nth-of-type(3) {
	border-right: #ffffff solid 1px;
}

.nav-item:hover{
	transition: 0.2s;
	/*border: #495874 solid 1px;*/

}
