*, *::after, *::before{ /* star is select all ||| pseudo elements rednered after page?*/
	box-sizing: border-box;
}

@media(min-width: 22.5em){
	.product-header {
  color: rgba(50, 123, 218, 0.85);
  background-color: rgba(230, 230, 230, 0.70);
  font-size: 1rem;
  font-family: "Brandon-reg";
  padding: 1rem;
  padding-top: 2.5rem;
  transition: 1s;
}

.product-header h3 {
  display: inline-block;
  margin: 0;
}

.product-header p {
  display: inline-block;
  margin-top: 0.3rem;
  margin-bottom: 0rem;
  float: right;
  font-size: 1rem;
}

.product-header-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
}

@media(min-width: 32.75em){
	#main-content{
	margin-bottom: 7rem;
}
		form.margin-bottom{
		width: 48%;
	}

	form.margin-bottom:first-of-type {
		margin-right: 1rem;
	}

	form.margin-bottom:last-of-type {
		width: 100%;
	}
}

@media(min-width: 48em){
		form.margin-bottom{
		width: 100%;
	}

	form.margin-bottom:first-of-type {
		margin-right: 0;
	}

	#about{
		height: 90vh;
		margin-top: -4rem;
	}

	.about-info{
		margin-top: -30rem;
		position: relative;
	}

	.grid-1of5{
		flex: 0 0 20%;

	}

	.grid-4of5{
		flex: 0 0 80%;
	}

	.grid-1of4{
		flex: 0 0 25%;

	}

	.grid-3of4{
		flex: 0 0 75%;
	}

	.grid-1of3{
		flex: 0 0 33.3%;

	}

	.grid-2of3{
		flex: 0 0 66.6%;
	}

	.grid-1of2{
		flex: 0 0 50%;
	}

	#background-image{
		height: 90vh;
		width: 100%;
	}

	.table-left-padded{
		padding-left: 2rem;
	}

	#main-content{
		margin-top: 8rem;
	}

	#product-overview{
		padding:0;
		padding-top: 1.5rem;
	}

	.grid-gutters{
		padding:2rem;
	}

}
